################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PocAPI
/bin/Debug/net6.0
/obj
/PocAPI.csproj.user
